.layout-container {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.content {
  flex: 1;
  padding: 24px 0;
  overflow-y: auto;
  background: transparent;
}